body {
    background-color: lightgray;
}

header {
    background-color: rgb(103, 142, 209);
    text-align: center;
}

header h1 {
    color: #62deb3;  
    background-color: #8179bd;
}

header li {
    border: solid darkgray; 
    display: inline; 
    color: whitesmoke; 
    background-color: #66d4e8;
    margin: 50px;
}

footer li {
    border: solid darkgray; 
    display: inline; 
    color: whitesmoke; 
    background-color: #66d4e8;
    margin: 50px;
}

img {
    border: darkblue solid 10px;
    text-align: center;
    width: 50%;

}

section {
    text-align: center;
}

footer {
    text-align: center;
    border: darkblue solid 10px;
}

#section1 h1{
    font-size: 150%;
}

#section2 {
    font-size: 100%;
}

#secretmenu {
    list-style-type: none;
}
